<ion-view title="Active Page" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="activePage-card25">
      <ion-item class="item-thumbnail-left" id="activePage-list-item12">
        <h2>Recurring Promotion 2</h2>
        <p>30% off plan per month</p>
      </ion-item>
      <div class="item item-body" id="activePage-list-item-container6">
        <div id="activePage-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Alice's Mobile Store</strong>
            <br>
            <strong>Details</strong> Keep active line to continue receiving promotion
            <br>
            <strong>Ends on</strong> 12/31/2018</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="activePage-list-item13">
        <i class="icon ion-chevron-right"></i>Go to Account</ion-item>
    </div>
  </ion-content>
</ion-view>