<ion-view title="Available Page" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="availablePage-card21">
      <ion-item class="item-thumbnail-left" id="availablePage-list-item7">
        <h2>One Time Promotion 1</h2>
        <p>$10 off $50 spend</p>
      </ion-item>
      <div class="item item-body" id="availablePage-list-item-container2">
        <div id="availablePage-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Alice's Retailers</strong>
            <br>
            <strong>Details</strong> Get $10 off a purchase of $50 or more in-store only
            <br>
            <strong>Redeem by</strong> 12/31/2020</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="availablePage-list-item4">
        <i class="icon ion-cash"></i>Redeem</ion-item>
    </div>
    <div class="list card" id="availablePage-card23">
      <ion-item class="item-thumbnail-left" id="availablePage-list-item8">
        <h2>Recurring Promotion 1</h2>
        <p>$1 off $5 monthly subscription</p>
      </ion-item>
      <div class="item item-body" id="availablePage-list-item-container4">
        <div id="availablePage-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Bob's Service Provider</strong>
            <br>
            <strong>Details</strong> Get $1 off per month when you subscribe as new customer
            <br>
            <strong>Redeem by</strong> 12/31/2020</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="availablePage-list-item9">
        <i class="icon ion-cash"></i>Redeem</ion-item>
    </div>
  </ion-content>
</ion-view>