<ion-view title="Promotions Wallet" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="promotionsWallet-heading1" style="color:#000000;">Heading</h1>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="promotionsWallet-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="promotionsWallet-slide27">
        <h1 id="promotionsWallet-heading2" style="color:#000000;">Slide 4</h1>
      </ion-slide-page>
      <ion-slide-page id="promotionsWallet-slide25"></ion-slide-page>
      <ion-slide-page id="promotionsWallet-slide26"></ion-slide-page>
      <ion-slide-page id="promotionsWallet-slide28">
        <h1 id="promotionsWallet-heading3" style="color:#000000;">Slide 5</h1>
      </ion-slide-page>
      <ion-slide-page id="promotionsWallet-slide29">
        <h1 id="promotionsWallet-heading4" style="color:#000000;">Slide 6</h1>
      </ion-slide-page>
      <ion-slide-page id="promotionsWallet-slide24"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>