<ion-view title="Redeemed Page" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="redeemedPage-card26">
      <ion-item class="item-thumbnail-left" id="redeemedPage-list-item14">
        <h2>One Time Promotion 2</h2>
        <p>$50 for new checking account</p>
      </ion-item>
      <div class="item item-body" id="redeemedPage-list-item-container7">
        <div id="redeemedPage-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Alice's Bank</strong>
            <br>
            <strong>Details</strong> Open a checking account and get $50 deposited
            <br>
            <strong>Redeemed on</strong> 01/01/2018</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>